@font-face {
    font-family: syne;
    src: url(../fonts/Syne-Bold.ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #1a1917;
    --accent: #e84a2f;
    --sand: #b8af9e;
    --off: #e8e4dc;
    --nav: #706a60;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: var(--bg);
    color: var(--off);
    font-family: syne;
    cursor: none;
}

/* CURSOR */

#cur {
    position: fixed;
    z-index: 9999;
    width: 10px;
    height: 10px;
    background: var(--accent);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 18px rgba(232, 74, 47, .6);
}

/* LOADER */

#loader {
    position: fixed;
    inset: 0;
    background: #111010;
    z-index: 8000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#lpct {
    font-family: syne;
    font-weight: 900;
    font-size: clamp(80px, 14vw, 180px);
    color: var(--off);
    line-height: 1;
    letter-spacing: -.03em;
}

#lbar-w {
    width: min(300px, 60vw);
    height: 2px;
    background: rgba(255, 255, 255, .1);
    overflow: hidden;
}

#lbar {
    height: 100%;
    width: 0;
    background: var(--accent);
}

#llbl {
    font-size: 11px;
    letter-spacing: .18em;
    text-transform: uppercase;
    color: var(--nav);
}

/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 28px 44px;
}

.nav-logo {
    font-weight: 600;
    font-size: 15px;
    color: var(--sand);
    opacity: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.nav-links a {
    font-size: 13px;
    color: var(--nav);
    text-decoration: none;
    opacity: 0;
    transition: .3s;
}

.nav-links a:hover {
    color: var(--off);
}

/* HERO */

#hero {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#tf {
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: .95;
    user-select: none;
}

.row {
    display: block;

    font-family: syne;
    font-weight: 800;

    font-size: clamp(58px, 8vw, 118px);

    text-transform: uppercase;
    letter-spacing: -.01em;

    margin-bottom: -.02em;
}

.sand {
    color: var(--sand);
}

.red {
    color: var(--accent);
}

/* CANVAS */

#cvs {
    position: fixed;
    inset: 0;

    z-index: 2;
    pointer-events: none;

    width: 100vw;
    height: 100vh;
}

/* HERO SUB */

.hero-sub {
    margin-top: 38px;

    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: var(--nav);

    opacity: 0;
    text-align: center;
}


/* BUTTON */

#cbtn {
    position: fixed;
    bottom: 32px;
    left: 40px;

    z-index: 3;

    width: 46px;
    height: 46px;

    border: 1.5px solid rgba(184, 175, 158, .35);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: border-color .3s, background .3s;
}

#cbtn:hover {
    border-color: var(--off);
    background: rgba(255, 255, 255, .03);
}

#cbtn svg {
    width: 19px;
    height: 19px;

    stroke: var(--sand);
    fill: none;

    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;

    transition: stroke .3s;
}

#cbtn:hover svg {
    stroke: var(--off);
}

/* GRAIN */

.grain {
    position: fixed;
    inset: 0;

    pointer-events: none;
    z-index: 7000;

    opacity: .03;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");

    background-size: 140px;
}

/* WORK */
#work {
    width: 100%;
    height: 100%;
    padding: 5%;
    align-content: center;

    figure {
        width: 100%;
        height: 100%;

        .parent {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
            /* background: red; */
            #left {
                width: 30%;
                height: 100%;
                background: gray;
            }
            #right {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .top {
                    background: gray;
                }
                .top,
                .bottom {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .inner-left {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        /* background: gray; */
                        .inner-top,
                        .inner-bottom {
                            width: 100%;
                            height: 50%;
                            background: gray;
                        }
                    }
                    .inner-right {
                        width: 50%;
                        height: 100%;
                        background: gray;
                    }
                }
            }
        }
    }
}